<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <h1>TODO List</h1>
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.title }} - {{ todo.description }}
            <form action="{% url 'delete_todo' todo.id %}" method="post">
                {% csrf_token %}
                <button type="submit">削除</button>
            </form>
            <a href="{% url 'update_todo' todo.id %}">更新</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_todo' %}">TODOを追加</a>
    
</body>
</html>